<div class="sidebar classic-sidebar">
   
    <div class="widget">
        <h3 class="title">Categories</h3>
        {% include category_list.html %}
    </div>
   
       <div class="widget">
        <h3 class="title">News</h3>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNNUPpage%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
   
          <div class="widget">
        <h3 class="title">Calender</h3>
        <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i_99.111.4.96%23sunrise%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FChicago" style="border-width:0" width="350" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
   
    <div class="widget">
        <h3 class="title">Tags</h3>
        {% include tag_list.html %}
    </div>

    <div class="widget">
        <h3 class="title">Authors</h3>
        {% include author_list.html %}
    </div>    

</div>
